button {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.filled {
  border: none;
  background: var(--primary);
  color: #FFF;
}

.outline {
  border: 1px solid var(--purple);
  background: transparent;
  color: var(--purple);
}
